<div id="contact">
    <div class="contact-wrapper">

        <h2 class="contact-heading">Contato</h2>

        <div class="contact-col-wrapper">
            <div class="contact-col">
                <ul class="contact-list">
                    <i class="fas fa-at fa-1x"></i>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>

            <div class="contact-col-1">
                <ul class="social-media-list">
                    {% if site.github_username %}
                    <a class="github" href="https://github.com/{{ site.github_username }}">
                        <i class="fab fa-github fa-1x"></i>
                        <p class="username"> lappis-unb </p>
                    </a>
                    {% endif %}

                    {% if site.twitter_username %}
                    <a class="twitter" href="https://twitter.com/{{ site.twitter_username }}">
                        <i class="fab fa-twitter fa-1x"></i>
                        <p class="username"> lappisunb </p>
                    </a>
                    {% endif %}

                    {% if site.facebook_username %}
                    <a class="facebook" href="https://www.facebook.com/{{ site.facebook_username }}/">
                        <i class="fab fa-facebook fa-1x"></i>
                        <p class="username"> lappisunb5 </p>
                    </a>
                    {% endif %}

                    {% if site.instagram_username %}
                    <a class="instagram" href="https://www.instagram.com/{{ site.instagram_username }}/">
                        <i class="fab fa-instagram   fa-1x"></i>
                        <p class="username"> lappisunb </p>
                    </a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>