<div id="projects">
    <div class="title-projetos">
        <p>
            Projects
        </p>
    </div>
    {% for project in site.projects %}
        <div class="project-wrapper">
            {% if project.side == "left" %}
            <div class="project-wrapper-left">
                <span class="project-description-left">
                    {% include project_info.html project=project %}
                </span>
                <div class="project-title-left">
                    <span>
                        {{project.name}}
                    </span>
                </div>
            </div>
            {% else %}
            <div class="project-wrapper-right">
                <div class="project-title-right">
                    <span>
                        {{project.name}}
                    </span>
                </div>
                <span class="project-description-right">
                    {% include project_info.html project=project %}
                </span>
            </div>
            {% endif %}
        </div>
        <div class="bola">
            <img src="{{ site.baseurl }}/files/bola.png" class="bola-size">
        </div>
    {% endfor %}
</div>