<div id="projects" class="projects">
    <div id="title-container" class="title-projetos">
        <h1 id="title" >Projects</h1>
    </div>
    <div class="title-mobile">
        <h1>Projects</h1>
    </div>
    <div class="project-wrapper">
        {% for project in site.projects %}
            <div class="project-content">
                <div class="project-title-content">
                    <svg viewBox="0 0 100 100" width="40" height="40">
                        <defs>
                            <path id="circle"
                            d="
                            M 50, 50
                            m -37, 0
                            a 37,37 0 1,1 74,0
                            a 37,37 0 1,1 -74,0"/>
                        </defs>
                        <text font-size="17">
                            <textPath xlink:href="#circle">
                                {{project.mark}}
                            </textPath>
                        </text>
                    </svg>
                    <div class="project-title">
                        <p>
                            {{project.name}}
                        </p>
                        {% if project.repo %}
                            <a href="{{project.repo}}">
                                <i class="fab fa-github fa-1x"></i>
                            </a>
                        {% endif %} 
                    </div>
                </div>
                <div class="project-description">
                    {% include project_info.html project=project %}
                </div>
                {% if project.open %}
                    <div class="edital-project">
                        <p>OPEN PROJECT</p>
                        <a href="{{ site.baseurl }}/files/editais/{{project.open.edital}}">Edital</a>
                    </div>
                {% endif %} 
            </div>
            <div class="line-divide"></div>
        {% endfor %}
    </div>
</div>

<script>
    const titleContainer = document.getElementById("title-container");
    const title = document.getElementById("title");
    const header = document.getElementById("header");
    const headerMobile = document.getElementById("header-mobile");

    document.addEventListener("scroll", function() {
        const headerHeight = 55
        const titleHeight = 225
        const titleTop = titleContainer.offsetTop - headerHeight
        const titleBottom = titleContainer.offsetHeight + titleTop - titleHeight
        if (window.pageYOffset > titleTop) {
            if (window.pageYOffset < titleBottom) {
                title.style.position = "fixed";
                title.style.top = "55px";
                titleContainer.style.alignItems = "normal"
                header.style.backgroundImage = "none"
                header.style.backgroundColor = "#262626"
            } else {
                title.style.position = "absolute"
                title.style.top = "auto";
                titleContainer.style.alignItems = "end"
            }
        } else {
            title.style.position = "relative"
            title.style.top = "auto";
            titleContainer.style.alignItems = "normal"
        }
    });
</script>