<header class="site-header" id="header">
  <div class="wrapper">
    <div class="header-content">
      <div data-aos="fade-right" data-aos-anchor="#trigger-left" data-aos-anchor-placement="top-top">
        <a class="site-title" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/files/logo.png">
        </a>
      </div>
  
      <nav class="site-nav">
        <div class="icontop">
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        <div id="hideicon">
          <a href="#about-us" class='page-link'> About us</a>
          <a href="#projects" class='page-link'> Projects</a>
          <a href="#team" class='page-link'> Team</a>
          <a href="#contact" class='page-link'> Contact</a>
          <a href="https://minilappisconf.lappis.rocks/" class='page-link'> MiniLappisConf</a>
        </div>
      </nav>
    </div>
    </div>
</header>

<script>
  function myFunction() {
    var x = document.getElementById("hideicon");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>