<header class="site-header">

  <div class="wrapper">

    <div data-aos="fade-right" data-aos-anchor="#trigger-left" data-aos-anchor-placement="top-top">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <nav class="site-nav">
      <ul>
        <li><a href="#about-us" class='page-link'> Sobre</a></li>
        <li><a href="#team" class='page-link'> Equipe</a></li>
        <li><a href="#projects" class='page-link'> Projetos</a></li>
        <li><a href="#contact" class='page-link'> Contato</a></li>
      </ul>
    </nav>

  </div>

</header>