<header class="site-header">

  <div class="wrapper">

    <div data-aos="fade-right" data-aos-anchor="#trigger-left" data-aos-anchor-placement="top-top">
      <a class="site-title" href="{{ site.baseurl }}/">
        <img src="/files/logo.png">
      </a>
    </div>

    <nav class="site-nav">
      <a href="#about-us" class='page-link'> Sobre</a>
      <a href="#team" class='page-link'> Equipe</a>
      <a href="#projects" class='page-link'> Projetos</a>
      <a href="#contact" class='page-link'> Contato</a>
    </nav>

  </div>

</header>