.site-header {
    z-index: 9;
    width: 100%;
    // Positioning context for the mobile navigation icon
    position: fixed;
    background-image: linear-gradient(to right, #0068b4, #2196f3);
  
    @media only screen and (max-width: 770px) {
      height: 100%;
      background-image: none;
    }
  
    #hideicon {
      a:not(:last-of-type) {
        margin-right: 30px;
      }
  
      @media only screen and (max-width: 770px) {
        z-index: 5;
        padding-left: 30px;
        padding-top: 0%;
        display: none;
        font-size: 16px;
        width: 200px;
        height: 100%;
        background-color: #0068b4;
      }
    }
  
    .icon {
      display: none;
    }
    @media only screen and (max-width: 770px) {
      .icon {
        background-color: #0068b4;
        display: block;
        color: white;
        i {
          z-index: 6;
          font-size: 190%;
          padding-top: 4%;
          padding-left: 6%;
        }
      }
    }

    .wrapper {
        padding: 15px 20px;
        position: relative;
        
        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.site-title {
    &,
    &:visited {
      color: $grey-color-dark;
    }
  
    @media only screen and (max-width: 770px) {
      display: none;
    }
}  

.site-nav {
    display: flex;
    flex-direction: column;
    z-index: 4;
    @media only screen and (max-width: 770px) {
      width: 100%;
      height: 100%;
    }
  
    .menu-icon {
      display: none;
    }
  
    .page-link {
      color: $text-color;
      line-height: $base-line-height;
      @media only screen and (max-width: 770px) {
        display: block;
        padding: 12px 0px;
      }
      // Gaps between nav items, but not on the last one
    }
  
    @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      background-color: none;
      @media only screen and (max-width: 1000px) {
        height: 100%;
        width: 100%;
        top: 0px;
      }
  
      .menu-icon {
        text-align: right;
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg {
          width: 18px;
          height: 15px;
  
          path {
            fill: $grey-color-dark;
          }
        }
      }
  
      .trigger {
        clear: both;
        display: none;
      }
  
      &:hover .trigger {
        display: block;
        padding-bottom: 5px;
      }
  
      .page-link {
        display: block;
        padding: 12px 0px;
      }
    }
}