/**
 * Site header
 */
.site-header {
  min-height: 56px;
  z-index: 9;
  width: 100%;
  // Positioning context for the mobile navigation icon
  position: fixed;
  background-image: linear-gradient(to right, #0068b4, #1691c1);
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  display: flex;
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    margin-top: 15px;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    
    .menu-icon {
        text-align: right;
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

/**
 * Page content
 */
.page-content {
  padding-top: 56px;
  p,
  h1 {
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    font-size: auto;
  }
}

#about-us {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #0068b4, #1691c1);
  .background_about {
    position: absolute;
    padding-left: 20px;
  }
  @media only screen and (max-width: 1000px) {
    .background_about {
      display: none;
    }
  }
  .content-about {
    margin-top: 15%;
    padding-bottom: 15%;
    .item {
      display: flex;
      justify-content: center;
      width: auto;
      padding-bottom: 100px;
    }
  }
}

.team-container{
    display: flex;
    flex-wrap: wrap;
    margin-top:-20px;
    .team-photo{
        margin: 5px;
        list-style: none;
        height:80px;
        width:80px;
        font-size: 12px;
        text-align: center;
        vertical-align: center;
        img{
            margin:auto;
            display: block;
            border-radius: 50%;
        }
        span{
            color: #828282;
        }
    }
}

#team {
  padding-top: 20px;
  color: #000;
  #team-wrapper {
    border: #0068b4 solid 2px;
    border-radius: 1.5%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    p {
      margin-left: 0%;
      margin-right: 0%;
    }
  }
  #team-title {
    color: #0068b4;
    position: relative;
    margin-left: -10px;
    margin-top: -20px;
    padding-right: 25px;
    background: #fff;
    display: inline-flex;
  }
  
}

#projects {
  color: #000;
}

#contact {
  color: #000;
}

#lab-image {
  background-color: #000;
  #parallax-spacer {
    /* Create the parallax scrolling effect */
    background-image: url("/files/lab2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.6;
    height: 350px;
  }
}
