/**
 * Site header
 */
.site-header {
  min-height: 56px;
  z-index: 9;
  width: 100%;
  // Positioning context for the mobile navigation icon
  position: fixed;
  background-image: linear-gradient(to right, #0068b4, #2196f3);

  @media only screen and (max-width: 770px) {
    height: 100%;
    background-image: none;
  }

  #hideicon {
    font-weight: bold;
    a {
      margin-right: 20px;
      text-decoration: none;
    }

    @media only screen and (max-width: 770px) {
      z-index: 5;
      padding-left: 30px;
      padding-top: 0%;
      display: none;
      font-size: 16px;
      width: 200px;
      height: 100%;
      background-color: #0068b4;
    }
  }

  .icon {
    display: none;
  }
  @media only screen and (max-width: 770px) {
    .icon {
      background-color: #0068b4;
      display: block;
      color: white;
      i {
        z-index: 6;
        font-size: 190%;
        padding-top: 4%;
        padding-left: 6%;
      }
    }
  }
  .wrapper {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  @media only screen and (max-width: 770px) {
    display: none;
  }
}

.site-nav {
  display: flex;
  flex-direction: column;
  float: right;
  line-height: 56px;
  z-index: 4;
  @media only screen and (max-width: 770px) {
    width: 100%;
    height: 100%;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    @media only screen and (max-width: 770px) {
      display: block;
      padding: 12px 0px;
    }
    // Gaps between nav items, but not on the last one
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    background-color: none;
    @media only screen and (max-width: 1000px) {
      height: 100%;
      width: 100%;
      top: 0px;
    }

    .menu-icon {
      text-align: right;
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 12px 0px;
    }
  }
}

/**
 * Site footer
 */

#contact {
  padding-bottom: 30px;
  background-color: #191919ff;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  align-items: center;
  padding-top: 15px;
  //background-image: url("/files/background_footer.png");
  background-size: cover;
  @media only screen and (max-width: 770px) {
    background-image: none;
    font-size: 40%;
    padding-bottom: 5%;
  }
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  align-items: center;
  background-color: #191919ff;
  font-size: 12px;
  @media only screen and (max-width: 770px) {
    font-size: 8px;
  }
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
  @media only screen and (max-width: 1000px) {
    flex-direction: column;
  }
  .contact-heading {
    display: flex;
    align-items: center;

    margin: 0px;
    color: #fff;
    font-size: 200%;
    border-right: 2px solid #fff;
    @media only screen and (max-width: 770px) {
      border-bottom: 2px solid #fff;
      border-right: none;
      padding-bottom: 15px;
    }
    padding-right: 15px;
  }
  .contact-col-wrapper {
    font-size: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    .contact-col {
      color: #fff;
      display: flex;
      flex-direction: column;
      @media only screen and (max-width: 770px) {
        padding: 0px;
      }
      i {
        padding-right: 10px;
        padding-top: 5px;
      }
      a {
        color: #fff;
      }
    }
    .contact-col-1 {
      .github,
      .facebook,
      .twitter,
      .instagram,
      .medium {
        padding-right: 20px;
      }
      p {
        margin: 0;
      }
      i {
        color: #fff;
      }
      .username {
        color: #fff;
      }
    }
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin: 12px 30px;
  display: flex;
  flex-direction: row;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

/**
 * Page content
 */
.page-content {
  padding-top: 50px;
  p,
  h1,
  h2,
  h3 {
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    font-size: auto;
    @media only screen and (max-width: 770px) {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}

#about-us {
  display: flex;
  background-image: linear-gradient(to right, #0068b4, #2196f3);

  .background_about {
    background-image: url("../files/background_sobre.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 20px;
    height: 100%;
    width: 100%;
    .content-about {
      margin-top: 10%;
      padding-bottom: 15%;
      width: 800px;
      padding-right: 3%;
      p {
        margin: 0 50px 15px 50px;
      }
      .item {
        display: flex;
        justify-content: center;
        width: auto;
        padding-bottom: 100px;

        img {
          width: 500px;
        }
      }
      @media only screen and (max-width: 770px) {
        font-size: 90%;
        p {
          margin-left: 10%;
          margin-right: 10%;
          margin-bottom: 15px;
        }
      }
    }
  }
  @media only screen and (max-width: 770px) {
    .background_about {
      background: none;
      .content-about {
        width: 100%;
        .item {
          img {
            width: 65%;
          }
        }
      }
    }
  }
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  justify-content: center;
  margin-left: 0;
  .team-photo {
    margin: 13px;
    margin-bottom: 15px;
    list-style: none;
    font-size: 12px;
    text-align: center;
    vertical-align: center;
    width: 60px;
    //    height: 60px;
    @media only screen and (max-width: 770px) {
      font-size: 70%;
    }
    img {
      height: 60px;
      width: 60px;
      margin: auto;
      display: block;
      border-radius: 50%;
      @media only screen and (max-width: 770px) {
        height: 60px;
      }
    }
    span {
      color: #828282;
    }
  }
}

#team {
  padding-top: 5%;
  padding-bottom: 5%;
  color: #000;
  #team-wrapper {
    border: #0068b4 solid 3px;
    border-radius: 10px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    @media only screen and (max-width: 770px) {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
    p {
      margin-left: 0%;
      margin-right: 0%;
    }
  }
  #team-title {
    color: #0068b4;
    position: relative;
    margin-left: -10px;
    margin-top: -20px;
    padding-right: 25px;
    background: #fff;
    display: inline-flex;
    @media only screen and (max-width: 770px) {
      font-size: 160%;
    }
  }
}

.title-projetos {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  align-items: center;
  color: #0068b4;
  p {
    border: 3px solid #0068b4;
    padding: 5px 5px 0px 5px;
    font-size: 30px;
    color: #0068b4;
  }
  @media only screen and (max-width: 770px) {
    p {
      margin-top: 20px;
    }
  }
}

#projects {
  color: #000;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  .project-wrapper {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: 770px) {
      display: flex;
      flex-direction: column;
    }
    padding-top: 40px;
    padding-bottom: 25px;
    .project-wrapper-right {
      display: flex;
      flex-direction: row;
      @media only screen and (max-width: 770px) {
        display: flex;
        flex-direction: column;
      }
      .project-title-right {
        font-size: 16px;
        font-weight: 400;
        padding-right: 20px;
        border-right: 3px solid #0068b4;
        display: flex;
        color: #0068b4;
        @media only screen and (max-width: 770px) {
          padding-left: 0px;
          padding-bottom: 15px;
          border-right: none;
          text-align: justify;
          border-bottom: 3px solid #0068b4;
        }
        span {
          width: 80px;
          padding-right: 25px;
          display: block;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
      .project-description-right {
        padding-left: 25px;
        padding-right: 129px;
        text-align: justify;
        font-size: 13px;
        @media only screen and (max-width: 770px) {
          padding-top: 15px;
          padding-left: 25px;
          padding-right: 25px;
        }
        .keywords,
        p {
          text-align: justify;
          margin-bottom: 0;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    .project-wrapper-left {
      display: flex;
      flex-direction: row;
      @media only screen and (max-width: 770px) {
        display: flex;
        flex-direction: column-reverse;
      }
      .project-title-left {
        font-size: 16px;
        font-weight: 400;
        padding-left: 20px;
        border-left: 3px solid #0068b4;
        display: flex;
        color: #0068b4;
        @media only screen and (max-width: 770px) {
          border-left: none;
          padding-bottom: 15px;
          padding-left: 0px;
          text-align: justify;
          border-bottom: 3px solid #0068b4;
        }
        span {
          width: 80px;
          padding-left: 25px;
          display: block;
          margin-top: auto;
          margin-bottom: auto;
          @media only screen and (max-width: 770px) {
            padding-left: 0px;
          }
        }
      }
      .project-description-left {
        padding-right: 25px;
        text-align: justify;
        padding-left: 129px;
        font-size: 13px;
        @media only screen and (max-width: 770px) {
          padding-top: 15px;
          padding-left: 25px;
          padding-right: 25px;
        }
        .keywords,
        p {
          margin-left: 0;
          margin-bottom: 0;
          margin-right: 0;
          text-align: justify;
        }
      }
    }
  }
  .keywords {
    text-decoration: #000;
    margin-left: 0;
    margin-right: 0;
    font-weight: 600;
  }
}

.bola {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  align-items: center;
  size: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  .bola-size {
    width: 15px;
    height: 15px;
  }
}

#contact {
  color: #000;
}

#lab-image {
  background-color: #000;
  #parallax-spacer {
    /* Create the parallax scrolling effect */
    background-image: url("./files/lab2-4.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.6;
    height: 350px;
  }
}
