.site-header {
    min-height: 56px;
    width: 100%;
    // Positioning context for the mobile navigation icon
    // position: fixed;
    background-image: linear-gradient(to right, RED , YELLOW);
}