.projects {
    display: flex;
    color: #000;

    @media only screen and (max-width: 770px) {
        display: block;
    }
}

.title-projetos {
    background-color: #262626;

    display: flex;
    justify-content: center;

    color: white;
    width: 100px;

    
    h1 {
        margin: 0px;
        padding: 40px 0px;
        font-size: 40px;
        writing-mode: vertical-lr;
    }
    
    @media only screen and (max-width: 770px) {
        display: none;
    }
}

.title-mobile {
    display: none;
    
    background-color: #262626;
    color: white;
    
    padding: 10px 0px;

    h1 {
        margin-bottom: 0px;
    }

    @media only screen and (max-width: 770px) {
        display: block;
    }
}

svg {
    height: 150px;
    width: 150px;
    fill: currentColor;
    transform-origin: center;
}

.project-wrapper {
    width: fit-content;
}

.project-content {
    width: fit-content;
    margin: 30px 50px 0px 50px;

    @media only screen and (max-width: 770px) {
        margin: 10%;
    }
}

.project-title-content {
    display: flex;
    align-items: center;

    .project-title {
        width: -webkit-fill-available;

        p {
            margin-left: 15px;
            margin-right: 0px;
            margin-bottom: 0px;

            font-size: 25px;
            font-weight: bold;

            @media only screen and (max-width: 770px) {
                font-size: 15px;
            }
        }

        a {
            margin-left: 15px;

            font-size: 20px;
            color: black;

            &:hover {
                color: gray;
            }
        }
    }
}

.project-description {
    margin-top: 25px;

    p {
        margin-left: 0px;
        margin-right: 0px;
    }

    a {
        color: #262626;
        text-decoration: underline;
    }

    .keywords {
        margin-bottom: 0px;
    }
}

.line-divide {
    &:not(:last-of-type) {
        height: 3px;
        width: 50%;
    
        background-color: #262626;
        
        right: 0px;
    }

    margin-top: 30px;
}

.edital-project {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    p {
        font-weight: bold;
        margin: 0;
    }

    a {
        width: fit-content;

        border: 2px solid #262626;
        border-radius: 10px;
        color: #262626;
        background: none;
        
        padding: 6px 10px;

        margin-top: 5px;

        font-size: 16px;

        @media only screen and (max-width: 1200px) {
            width: -webkit-fill-available;
            text-align: center;
        } 

        &:hover {
            background-color: #262626;
            text-decoration: none;
            color: white; 

            padding: 8px 12px;

            border: none;
        }
      }
}